/* body {
    background-color: rgb(19, 20, 23);
} */

html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-color: rgb(19, 20, 23);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.contentner {
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    border: 0px solid;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}

.contentner .h1 {
    font-family: Montserrat;
    text-align: right;
}

input[type=text] {
    width: 100%;
    width: 300px;
    padding: 8px 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid rgb(68, 14, 112);
    background-color: white;
    border-radius: 25px;
    outline: none;
    padding: 12px 14px;
    transition: 0.25s ease;
    margin-left: 23.5rem;
}

input[type=text]:focus {
    border: 3px solid green;
    border-color: #4aa134;
}

input[type=password] {
    width: 100%;
    width: 300px;
    padding: 8px 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid rgb(68, 14, 112);
    background-color: white;
    border-radius: 25px;
    outline: none;
    padding: 12px 14px;
    transition: 0.25s ease;
    margin-left: 23.5rem;
}

input[type=password]:focus {
    border: 3px solid green;
    border-color: #4aa134;
}

.label-input {
    position: absolute;
    left: 0;
    margin-left: 29rem;
    padding: 12px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
    font-family: 'Montserrat', sans-serif;
}

.input {
    margin-top: 70px;
    margin-left: 370px;
}

button[type=submit] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    width: 300px;
    background-color: #4aa134;
    padding: 14px 14px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 0px solid black;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
    margin-top: 30px;
    border-radius: 25px;
    color: white;
    margin-left: 23.5rem;
    position: relative;
}

.form-input:not(:placeholder-shown)+.label-input,
.form-input:focus+.label-input {
    top: 161px;
    display: block;
    background-color: white;
    border-radius: 25px;
    padding: 10px 10px;
    color: green;
}

.form-input:not(:placeholder-shown)+#password,
.form-input:focus+#password {
    top: 235px;
    display: block;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px;
    color: green;
}

.form-field-1 button {
    /* position: absolute; */
}

button[type=submit]::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    background-color: rgb(106, 187, 106);
    z-index: -1;
    transition: all 0.8s;
}

button[type=submit]:hover {
    transform: translateY(4px);
    box-shadow: rgb(106, 187, 106);
}

button[type=submit]:hover::after {
    /* transform: scale(1.1); */
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 0;
}

.form-field-1 {
    /* background-color: black; */
    background: url('./assets/Img_12.png');
    border-radius: 13px 0px 0px 13px;
    box-shadow: black;
    box-sizing: border-box;
    border: 0px solid;
    padding: 16vmin;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    right: 13rem;
}