.jj {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12vmin;
    color: #fff;
    line-height: 0.85;
    text-transform: uppercase;
    background-image: url(https://anonimag.es/i/cee6d0f7-9dd3-430b-b9c3-bee2c52779b453d9f.jpg);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    z-index: 10;
}

.jj:before {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5vmin;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-background-clip: none;
    background-color: red;
    padding: 3px;
}

.jj+.jj {
    -webkit-text-fill-color: white;
    z-index: 10;
    animation: meh 3s ease-out infinite alternate;
}

@keyframes meh {
    from {
        clip-path: polygon(100% 0, 100% 100%, 20% 100%, 61% 91%, 94% 47%);
    }
    50% {
        clip-path: polygon(100% 0, 100% 100%, 20% 100%, 59% 52%, 74% 13%);
    }
    to {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 85%, 87% 41%);
    }
}

.jj span {
    display: block;
}

@font-face {
    font-family: 'JJ';
    src: url('GothicNo13BT-Regular.eot');
    font-weight: normal;
    font-style: normal;
}